<html>
<head>
  <title>Register Web</title>
</head>
<body>
  <form action="/register" method="post">
    <legend>Register Web:</legend>
    <p><input name="username" placeholder="user name" value="{{ username }}"></p>
	<p><input name="useremail" placeholder="user e-mail" value="{{ useremail }}"></p>
    <p><input name="password" placeholder="password" type="password"></p>
	<p><input name="repassword" placeholder="re-password" type="password"></p>
    <p><button type="submit">Register</button></p>
  </form>
</body>
</html>
